<h1>All Favourited Questions</h1>

<table class="table table-striped">
  <% @favorite.each do |favorite| %>
    <tr>
      <td><%= link_to favorite.title, post_path(favorite) %></td>
    </tr>
  <% end %>
</table>
