<style>
h1{
  text-align: center;
  color: rgb(9, 5, 230);
  font-family: "Helvetica", "Comic Sans MS", serif;
}

.title{
  color: rgb(237, 122, 17);
}
</style>

<div class="main-page">
  <h1>Edit Blog Post</h1>
  <%= render "form" %>
</div>
